# Исключить папки виртуального окружения
venv/

# Игнорировать файлы базы данных
*.sqlite3
*.json

# Игнорировать все файлы .log
*.log

# Игнорировать папки, созданные IDE
.idea/
.vscode/

# Игнорировать файлы временных данных
__pycache__/

# Игнорировать файлы со статикой
static/
static_dev/
